body {
    /* background-color: #191a1a; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body * {
    /* color: #fafbfb; */
}
#wrapper {
    width:100%;
    margin: 50px auto;
    /* text-align: center; */
}
.but {
    color: white;
    border: 1px solid black;
    background-color: rgb(5, 111, 218);
    border-radius: 5px;
    display: block;
    box-shadow: 3px 3px black;
    margin: 10px;
}
.user_res {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    overflow-wrap: break-word;
}