<!DOCTYPE html>
<html>
<head>
    <title>Notes</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel='stylesheet' href="{% static 'css/twtr/twtr.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div id='wrapper'>
        <h1>Search Twitter Data:</h1>
        <hr>
        <form action='/grab' method='POST' class='search' id='create_user_ajax_form'>
            {% csrf_token %}
            Name:<input type='text' name='name'/>
            Twitter Screen Name:<input type='text' name='screen_name'/>
            <input type="submit" value="Search" class='but'>
        </form>
        <div class='data_space'>
            <div id='placeholder'>
                <div class='data_object'>
                    <h3> Search Results:</h3>
                    <div class='user_res'>
                        <table>
                            <tr>
                                <th>Name:</th>
                                <td>{{ user.name }}</td>
                            </tr>
                            <tr>
                                <th>Screen Name:</th>
                                <td>{{ user.screen_name }}</td>
                            </tr>
                            <tr>
                                <th>Location:</th>
                                <td>{{ user.location }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class='user_res'>
                        <table>
                            <tr>
                                <th>Friends:</th>
                                <td>{{ user.friends_count }}</td>
                            </tr>
                            <tr>
                                <th>Followers:</th>
                                <td>{{ user.followers_count }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class='user_res'>
                        <table>
                            <tr>
                                <th>Description:</th>
                                <td>{{ user.description }}</td>
                            </tr>
                            <tr>
                                <th>User since:</th>
                                <td>{{ user.user_since }}</td>
                            </tr>
                        </table>
                    </div><hr>
                    <div class='data_object'></div>
                </div>
            </div> <!--end of the placeholder-->
        </div>
    </div>
    <div id='graphDiv' style='width: 400px; height: 300px;'></div>
    <script>
            Plotly.d3.csv('https://raw.githubusercontent.com/bcdunbar/datasets/master/meteorites_subset.csv', function(err, rows){
  
                var classArray = unpack(rows, 'class');
                var classes = [...new Set(classArray)];
              
                function unpack(rows, key) {
                  return rows.map(function(row) { return row[key]; });
                }
              
                var data = classes.map(function(classes) {
                  var rowsFiltered = rows.filter(function(row) {
                      return (row.class === classes);
                  });
                  return {
                     type: 'scattermapbox',
                     name: classes,
                     lat: unpack(rowsFiltered, 'reclat'),
                     lon: unpack(rowsFiltered, 'reclong')
                  };
                });
                
                var layout = {
                   title: 'Meteorite Landing Locations',
                   font: {
                       color: 'white'
                   },
                  dragmode: 'zoom', 
                  mapbox: {
                    center: {
                      lat: 38.03697222, 
                      lon: -90.70916722
                    }, 
                    domain: {
                      x: [0, 1], 
                      y: [0, 1]
                    }, 
                    style: 'dark', 
                    zoom: 1
                  }, 
                  margin: {
                    r: 20, 
                    t: 40, 
                    b: 20, 
                    l: 20, 
                    pad: 0
                  }, 
                  paper_bgcolor: '#191A1A', 
                  plot_bgcolor: '#191A1A', 
                  showlegend: true,
                   annotations: [{
                       x: 0,
                     y: 0,
                     xref: 'paper',
                     yref: 'paper',
                       text: 'Source: <a href="https://data.nasa.gov/Space-Science/Meteorite-Landings/gh4g-9sfh" style="color: rgb(255,255,255)">NASA</a>',
                       showarrow: false
                   }]
                };
                
                Plotly.setPlotConfig({
                  mapboxAccessToken: 'pk.eyJ1IjoidHdpdHRlci1kYXRhLXNoZWV0IiwiYSI6ImNqZmQ1dnliYTI1YmM0MHE3OG45cGU5NTIifQ.kFkLUTNISUOrq6V5rPDU0g'
                });
                
                Plotly.plot('graphDiv', data, layout);
              });
    </script>
</body>
    <!-- <script>
        $('#create_user_ajax_form').submit(function(e){
          e.preventDefault()
          console.log('Sending Ajax request to', $(this).attr('action'))
          console.log('Submitting the following data', $(this).serialize())
          $.ajax({
            url: $(this).attr('action'), /* Where should this go? */
            method: 'post', /* Which HTTP verb? */
            data: $(this).serialize(), /* Any data to send along? */
            success: function(serverResponse) { /* What code should we run when the server responds? */
              $('#placeholder').html(serverResponse)
            }
          })
        });
      </script> -->


    
</html>