<!DOCTYPE html>
<html>
<head>
    <title>Notes</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href="{% static 'css/twtr/twtr.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div id='wrapper'>
        <h1>Search Twitter Data:</h1>
        <hr>
        <form action='/grab' method='POST' class='search' id='create_user_ajax_form'>
            {% csrf_token %}
            Name:<input type='text' name='name'/>
            Twitter Screen Name:<input type='text' name='screen_name'/>
            <input type="submit" value="Search" class='but'>
        </form>
        <div class='data_space'>
            <div id='placeholder'>
                <div class='data_object'>
                    <h3> Search Results:</h3>
                    <div class='user_res'>
                        <table>
                            <tr>
                                <th>Name:</th>
                                <td>{{ user.name }}</td>
                            </tr>
                            <tr>
                                <th>Screen Name:</th>
                                <td>{{ user.screen_name }}</td>
                            </tr>
                            <tr>
                                <th>Location:</th>
                                <td>{{ user.location }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class='user_res'>
                        <table>
                            <tr>
                                <th>Friends:</th>
                                <td>{{ user.friends_count }}</td>
                            </tr>
                            <tr>
                                <th>Followers:</th>
                                <td>{{ user.followers_count }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class='user_res'>
                        <table>
                            <tr>
                                <th>Description:</th>
                                <td>{{ user.description }}</td>
                            </tr>
                            <tr>
                                <th>User since:</th>
                                <td>{{ user.user_since }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class='data_object'></div>
                </div>
            </div> <!--end of the placeholder-->
        </div>
    </div>
</body>
    <!-- <script>
        $('#create_user_ajax_form').submit(function(e){
          e.preventDefault()
          console.log('Sending Ajax request to', $(this).attr('action'))
          console.log('Submitting the following data', $(this).serialize())
          $.ajax({
            url: $(this).attr('action'), /* Where should this go? */
            method: 'post', /* Which HTTP verb? */
            data: $(this).serialize(), /* Any data to send along? */
            success: function(serverResponse) { /* What code should we run when the server responds? */
              $('#placeholder').html(serverResponse)
            }
          })
        });
      </script> -->
      <div id='map' style='width: 400px; height: 300px;'></div>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoidHdpdHRlci1kYXRhLXNoZWV0IiwiYSI6ImNqZmQ1dnliYTI1YmM0MHE3OG45cGU5NTIifQ.kFkLUTNISUOrq6V5rPDU0g';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v10'
    });
    </script>
</html>